body {
    width: 100%;
    height: 100%;
    text-align: center;
}
.main-wrapper {
    margin: 0 auto;
}
.replayer {
    width: 800px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid black;

}
.replayer-list {
    float:left;
    margin-left: 50px;
}
.favorites {
    float: right;
    margin-right: 50px;
}
.miniature {
    width: 150px;
    height: 100px;
    border: 1px solid black;
    margin-top: 5px;
}
button {
    border: none;
    background: none;
    color: #fff;
}

.controls {
    width: 30%;
    padding: 5px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 15px;
    background: #373c44;
}